.profile__info {
	display: grid;
	grid-template: repeat(2, auto) / auto 1fr;
	column-gap: 18px;
	row-gap: 9px;
}

@media screen and (max-width: 800px) {
	.profile__info {
		position: relative;
		grid-template-columns: 1fr;
		max-width: 78%;
		padding-bottom: 10px;
		row-gap: 7px;
		text-align: center;
	}
}

@media screen and (max-width: 660px) {
	.profile__info {
		column-gap: 0;
	}
}